name: Git Hub Actions
on: 
  push:
    branches:
      - main
      - devlop
      - 'release/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Steps
        run: echo "This is Build job"

  
